.embla__container {
    display: flex;
    flex-direction: row;
}

.embla__slide {
    flex: 0 0 90%; /* Slide covers 50% of the viewport */
    min-width: 0;
    margin-right: 50px;
    margin-left: 50px;
    justify-content: center;
    align-content: center;
}

